    <main>
        <section class="section">
            <div class="container is-flex is-justify-content-center is-align-items-center">
                <form class="box" method="POST" action="/users/login">
                    <h3 class="subtitle is-3 is-size-5-mobile has-text-centered">Acesso usuário</h3>
                    <hr>
                    <div class="field">
                        <label class="label">Email</label>
                        <% var isInvalidEmail = locals.errors && errors.email? 'is-danger' : '' %>
                        <div class="control">
                            <input class="input is-medium <%= isInvalidEmail %>" type="email" name="email" placeholder="e.g. alex@example.com">
                        </div>

                        <% if(locals.errors && errors.email) { %>
                            <div class="has-text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                
                    <div class="field">
                        <label class="label">Senha</label>
                        <% var isInvalidPsw = locals.errors && errors.psw? 'is-danger' : '' %>
                        <div class="control">
                            <input class="input is-medium <%= isInvalidPsw %>" name="psw" type="password" placeholder="********">
                        </div>

                        <% if(locals.errors && errors.psw) { %>
                            <div class="has-text-danger">
                                <%= errors.psw.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="remember">
                            Lembrar meu usuário
                        </label>
                    </div>
                
                    <button class="button is-primary is-medium is-fullwidth">Acessar</button>
                </form>
            </div>
        </section>
    </main>