<main>
    <section class="section">
        <div class="container is-flex is-justify-content-center">
            <h1 class="title is-2 is-size-4-mobile has-text-centered">Sistema de cadastro e login de usuários</h1>
        </div>

        <div class="container is-flex is-justify-content-center py-6">
            <figure class="image is-128x128">
                <img src="/images/desenvolvedor.png" alt="Formulário imagem">
            </figure>
        </div>
    </section>
</main>